:root {
    --color-primary: #0071dc;
    --color-primary-dark: #1c0b87;
    --color-primary-light: #7c69f2;
    --color-primary-text:#22262a;
    --color-secondary: #090524;
    --color-secondary-light: #16122f;
    --color-heading: #000000;
    --color-heading-light: #333333;
}